.login-page {
  //background:
  background-image: url("../../../public/images/backgroundRegister.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  //form:
  .login-form {
    position: absolute;
    display: block;
    // border: 1px solid black;
    width: 350px;
    top: 57%;
    .ant-input {
      text-align: center;
    }
  }
}
