.footer-custom {
  height: 64px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #c3b6b6;
  margin-top: -1px !important;
  background-color: #c3b6b6;
}
