.css-sghohy-MuiButtonBase-root-MuiButton-root {
  padding: 2px !important;
  text-transform: unset !important;
  border-radius: 2px !important;
  color: rgb(30, 82, 203);
  &:hover {
    background: rgb(11, 7, 132) !important;
    box-shadow: 3px 3px 6px -1px #7f7b7b !important;
  }
}

.Mui-disabled {
  background: grey !important;
}

.delete-button {
  &:hover {
    background: rgb(202, 33, 33) !important;
    box-shadow: 3px 3px 6px -1px #7f7b7b !important;
  }
}

.button-collapse {
  border-radius: 0px !important;
}

.button-bottom-wrapper {
  position: absolute;
  bottom: 0px;
  left: 40%;
  width: 20%;
  display: flex;
  justify-content: center;
  height: 40px;
  .space-button {
    background-color: rgba(94, 91, 139, 0.401) !important;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1); /* Hiển thị shadow dưới cùng */
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    // border: 1px solid grey;
  }
}

.space-button-table-action {
  .anticon-eye {
    cursor: pointer;
    color: rgb(30, 82, 203);
  }
  .anticon-edit {
    cursor: pointer;
    color: green;
  }
  .anticon-delete {
    cursor: pointer;
    color: rgb(202, 33, 33);
  }
}
