.ant-layout-content {
  background-color: unset !important;
  color: black !important;
  line-height: unset !important;
  padding: 10px;
  text-align: unset !important;
  .title-page {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }
  .search-form {
    padding: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 6px -1px #ccc;
    .search-from-title {
      text-transform: uppercase;
      font-weight: 600;
      border-bottom: 1px solid black;
    }
    .ant-col {
      padding: 0px 5px;
      //   border: 1px solid black;
    }
    .ant-select {
      width: 100%;
    }
    .ant-picker {
      height: 25px;
      width: 100%;
    }
  }
}
.ant-picker-range-arrow {
  padding-inline: unset !important;
}
