.ant-layout-content {
  overflow-y: auto;
  position: relative;
  top: 64px;
  background-color: unset !important;
  color: black !important;
  line-height: unset !important;
  text-align: unset !important;
  height: calc(100vh - 64px);
  .title-page {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }
  .search-form {
    padding: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 6px -1px #ccc;
    .search-from-title {
      text-transform: uppercase;
      font-weight: 600;
      border-bottom: 1px solid black;
    }
    .ant-col {
      padding: 0px 5px;
      //   border: 1px solid black;
    }
    .ant-select {
      width: 100%;
    }
    .ant-picker {
      height: 25px;
      width: 100%;
    }
  }
}
.ant-picker-range-arrow {
  padding-inline: unset !important;
}
/* Đối tượng thanh cuộn */
::-webkit-scrollbar {
  width: 8px; /* Độ rộng của thanh cuộn */
}

/* Nền của thanh cuộn */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền */
}

/* Màu của thanh cuộn khi không được hover */
::-webkit-scrollbar-thumb {
  background: #aeacac; /* Màu thanh cuộn */
}

/* Màu của thanh cuộn khi hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555; /* Màu thanh cuộn khi hover */
// }
