.sider-menu {
  max-height: calc(100vh - 64px);
  overflow-y: auto;
}

.wrapper-content-sidebar {
  display: flex;
  position: absolute;
  top: 64px;
  width: 100%;
}

.div-wrap-content {
  position: relative;
  width: 100%;
  background-color: unset !important;
  color: black !important;
  line-height: unset !important;
  text-align: unset !important;
}

.wrap-content-child {
  height: calc(100vh - 64px) !important;
  overflow-y: auto !important;
  // color: rgb(3, 2, 97);
  color: #001529;
  background-image: url("../../public/assets/images/backgroundHome.png");
  background-size: 100vw 100vh;
  background-position: center;
}

.title-page {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}
//search-form
.search-form-wrapper {
  padding: 0px 15px;
  position: relative;
}

.search-form {
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 6px -1px #7f7b7b;
  margin-bottom: 10px;
  background: white;
  .search-from-title {
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid rgb(3, 2, 97);
  }
  .ant-col {
    padding: 0px 5px;
    //   border: 1px solid black;
  }
  .ant-select {
    width: 100%;
  }
  .ant-picker {
    height: 25px;
    width: 100%;
  }
}

/* Đối tượng thanh cuộn */
::-webkit-scrollbar {
  width: 8px; /* Độ rộng của thanh cuộn */
}

/* Nền của thanh cuộn */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền */
}

/* Màu của thanh cuộn khi không được hover */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* Màu thanh cuộn */
  border-radius: 99px;
}

/* Màu của thanh cuộn khi hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555; /* Màu thanh cuộn khi hover */
// }

.validate-error {
  animation-name: slideDown;
  animation-duration: 4s;
}
@keyframes slideDown {
  0% {
    // transform: translateY(-100%);
    height: 0%;
  }
  100% {
    // transform: translateY(0);
    height: 100%;
  }
}
