.ant-table-wrapper {
  margin-top: 5px;
}

.table-results {
  background: white;
  padding: 10px 5px;
  border-radius: 3px;
  box-shadow: 2px 2px 6px -1px #c2c2c2;
  .table-results-title {
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid rgb(4, 2, 104);
  }
}

.ant-table-thead {
  text-transform: uppercase;
}

.ant-table-cell {
  padding: 5px 10px !important;
  text-align: center !important;
}

.ant-table-title {
  padding: 5px 0px 10px 0px !important;
  border: unset !important;
  display: flex;
  justify-content: end;
  button {
    right: 0px;
  }
}
