.page-404 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 64px);
  background-image: url("../../../public/assets/images/backgroundHome.png");
  background-size: 100vw 100vh;
  background-position: center;
}
