.ant-menu {
  height: 100%;
  background: #e7dfab;
  text-transform: uppercase;
  max-width: 300px;
  font-weight: 600;
  .ant-menu-title-content {
    color: black;
  }
  .ant-menu-item-icon {
    color: black !important;
  }
  .ant-menu-inline {
    background: #e7dfab !important;
  }
}
.collaps-menu-button {
  background: #e7dfab;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
}
.ant-menu-item-selected {
  background-color: rgb(251, 251, 134) !important;
}
